<div class="block_gestion">
    <h2>Gestion des références</h2>
    <form name="refForm" action="{{ url_for('soumettreArticle') }}" method="post">

        <input class="inputForm" name="titreReference" type="text" placeholder="Titre"><br>
        <input class="inputForm" name="auteur" type="text" placeholder="Auteur"><br>
        <input class="inputForm" name="anneeParution" type="number" placeholder="Année de parution" min="0" max=maxYear><br>
        <label for="contenu">ISBN : 10 ou 13 caractères<br>
            <input class="inputForm" name="isbn" type="text" placeholder="ISBN" pattern="\d{10}|\d{13}"><br>
        </label>
        <input class="inputForm" name="editeur" type="text" placeholder="Editeur"><br>
    <div id="references"></div><br>
    <button type="submit">Enregistrer</button>
    </form>
</div>