{% if articles %}
    <div class="block_articles custom_articles">
    <br>
    <h2 class="underline">Gestion de vos articles</h2>
    <ul>
        {% for article in articles %}
        <li class="article_block">
            <br>
            <h3><a href="{{ url_for('view_article', idArticle=article.id) }}">{{ article.title }}</a></h3>
            <!-- Bouton pour supprimer l'article -->
            <form action="{{ url_for('delete_article') }}" method="post">
                <input type="hidden" name="article_id" value="{{ article.id }}">
                <button type="submit">Supprimer</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}