<div class="block_gestion">
        <h2>Modifiez vos données de connexion</h2>

        <!-- Modifier le nom d'utilisateur -->
        <form name="profileForm" action="{{ url_for('update_profile') }}" method="POST" class="profile">
        <label for="username">Nom d'utilisateur: {{ session['userName']}}</label><br>
        <input type="text" id="username" name="username" placeholder="Nouveau nom d'utilisateur"><br>
        <button type="submit">Sauvegarder le nom d'utilisateur</button>
        </form>

        <!-- Modifier le mot de passe -->
        <form name="mdpForm" action="{{ url_for('update_password') }}" method="POST" class="profile">
        <label for="password">Mot de passe:</label><br>
        <input type="password" id="password" name="password" placeholder="Nouveau mot de passe"><br>

        <button type="submit">Sauvegarder le mot de passe</button><br>
        </form>
</div>