{% extends 'index.html' %}
{% block body %}
    <div class="content" style="text-align: center;">
        <div><h1>Reset Your Password</h1></div>
        <div>
            <form name="reset_password_form" action="{{ url_for('reset_password', token=token) }}" method="post">
                <input class="inputForm" name="new_password" type="password" placeholder="Enter your new password" style="width: 200px;" required><br>
                <button type="submit">Reset Password</button>
            </form>
        </div>
    </div>
{% endblock %}
