*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.header{
    height: 10vh;
    min-height: 90px;
    width: 100%;
    padding: 0 8%;
    background: #080008;
    position: relative;
}

.orange{
    color: #ff3d00;
}

.spacer{
    padding-top: 100px;
}

footer {
    background-color: #151515;
    color: #fff;
    text-align: center;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #0000FF; /* Couleur du lien */
    text-decoration: underline;
}

textarea {
  resize: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
}

.nav-links{
    padding: 28px 0;
}

.nav-links  li{
    display: inline-block;
    margin: 0 15px;
    color: white;
}

.nav-links li a{
    text-decoration: none;
    color: white;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}

.btn{
    background: #ff3d00;
    color: white;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}

.content_center{
    height: 90vh;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
    padding-top: 200px;
    background: #080008;
}

.content_center h1{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
}

.content_center form{
    background: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content_center form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
}

.content_center form button{
    background: #ff3d00;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.inscription_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inscription_form{
    border-color: #080008;
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background-color: lightcoral;
}

input:valid {
  border: 2px solid black;
}

.content{
    position: absolute;
    margin: auto;
    padding-top: 20px;
    height: auto;
    width: 100%;
    min-height: 90vh;
    text-align: center;
    color: white;
    background: #080008;
}

.content h2{
    margin-top: 20px;
}

.article{
    position: absolute;
    width: 90%;
    left: 50%;
}

.alpha-links{
    margin-left: auto;
    margin-right: auto;
    padding: 28px 0;
    text-align: center;
    font-weight: bold;
}

.alpha-links ul{
    display: inline-block;
}

.alpha-links ul li{
    float: left;
}

.alpha-links li{
    display: inline-block;
    margin: 0 2px;
}

.alpha-links li a{
    text-decoration: none;
    color: white;
    padding: 5px 0;
    position: relative;
}

.alpha-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.alpha-links li a:hover::after{
    width: 100%;
}

.liste{
    width: 50%;
    margin: auto;
    font-weight: normal;
}

.liste_header{
    color: #ff3d00;
    font-weight: bold;
}

.liste th{
    padding-top: 2px;
    padding-bottom: 2px;
}

.liste_content:hover{
    background: #ff3d00;
    cursor: pointer;
}

.active::after{
    width: 100% !important;
}

.content_article{
    width: 80%;
    margin-left: 6%;
    padding-top: 50px;
}

.text_article{
    text-align: justify;
    line-height: 1.5;
}

.infos{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.infos h3,h4{
    color: #ff3d00;
}

.right{
    text-align: right;
}

.error_search{
    padding-top: 20px;
}

.commentaires{
    text-align: left;
    width: 88%;
    margin: auto;
    padding-top: 30px;
    height: auto;
}

.commentaires p{
    padding-top: 5px;
}

.commentaires h2{
    margin-bottom:  10px;
}

.commentaires form{
    width: 40%;
    margin-bottom: 10px;
}

.commentaires textarea{
    background-color:  #1c1c26;
    color: white;
    border-radius: 5px;
}

.block_commentaire{
    margin-top: 15px;
}

.content h1{
    margin-bottom: 25px;
}

.content form button{
    background: #ff3d00;
    color: white;
    padding: 5px 10px;
    margin-top: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: "poppins", sans-serif;
}

.content form input,select{
    background-color: #1c1c26 !important;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content form input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

.block_gestion{
    margin-bottom: 40px;
}

.block_gestion h2{
    margin-bottom: 10px;
}

.profile{
    margin-top: 20px;
    margin-bottom: 20px;
}
