{% extends 'index.html' %}
{% block body %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="content">
    <h1>Gestion de votre compte administrateur {{ session['userName']}}</h1>

    {% include "include/gestion_all_compte.html" %}

    <div class="block_gestion">
        <h2>Gestion des utilisateurs</h2>
        <form name="update_user" action="/update_user_admin" method="post">
            <input class="inputForm" name="email" type="email" id="email_autocomplete" placeholder="Chercher un Email" maxlength="250" onchange="checkUserRole()" >
            <select id="selectRole" name="role" required>
                <option value="utilisateur">Utilisateur</option>
                <option value="moderateur">Modératreur</option>
                <option value="administrateur">Administrateur</option>
            </select>
            <input type="checkbox" name="delete_user" id="delete_user">
            <label for="delete_user"> Supprimer</label>
            <button type="submit">Changer</button>
        </form>
    </div>

    <div class="block_gestion">
        <h2>Gestion de la base de données</h2>
        <form name="upForm" action="/up" method="post">
            <button onclick="confirmUp()">Créer la base de données</button>
        </form>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashed">
                    {% for message in messages %}
                        <li class="orange">{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    {% include "include/del_account.html" %}

    <!-- Script pour auto complete email apres 4 caractere -->
    <script>
        $(function() {
            $.ajax({
                url: '{{ url_for("autocomplete") }}'
                }).done(function (data){
                    $('#email_autocomplete').autocomplete({
                        source: data,
                        minLength: 4
                    });
                });
            });
    </script>
    <!-- Script pour actualiser le champ du role apres lecriture du email -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
</div>
{% endblock %}