{% extends 'index.html' %}
{% block body %}
<div class="content">
    <h1> <span style="border-bottom: 3px solid #ff3d00;">{{ article[1] }}</span></h1>

    <div class="content_article">
        <div class="infos bordered">
            <h3>Informations sur l'article</h3>
            <br>
            <table>
                <tr>
                    <th class="right">Date de création:</th>
                    <th>{{ article[2] }}</th>
                </tr>
                <tr>
                    <th class="right">Catégorie:</th>
                    <th>{{ article[4] }}</th>
                </tr>
                <tr>
                    <th class="right">Auteur:</th>
                    <th>{{ article[5] }}</th>
                </tr>
            </table>
            <br>
            <h4>Réference</h4>
            <br>
            <table>
                <tr>
                    <th class="right">Livre:</th>
                    <th>{{ article[9] }}</th>
                </tr>
                <tr>
                    <th class="right">Auteur:</th>
                    <th>{{ article[8] }}</th>
                </tr>
                <tr>
                    <th class="right">Année de parution:</th>
                    <th>{{ article[10] }}</th>
                </tr>
                <tr>
                    <th class="right">ISBN:</th>
                    <th>{{ article[11] }}</th>
                </tr>
                <tr>
                    <th class="right">Éditeur:</th>
                    <th>{{ article[12] }}</th>
                </tr>
            </table>
        </div>

        <p class="text_article">{{ article[3] }}</p>
    </div>
    <div class="commentaires">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashed">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if session['userId'] %}
        <h2>Ajouter un commentaire</h2>
        <form name="commentaire_form" action="{{ url_for('addComment') }}" method="post">
            <textarea name="comment" rows="6" cols="75" placeholder="Écrivez votre commentaire" required></textarea>
            <input name="userId" type="hidden" value="{{ session['userId'] }}">
            <input name="articleId" type="hidden" value="{{ article[0] }}">
            <button type="submit" class="large-button">Commenter</button>
        </form>
        {% else %}
            <p class="orange">Vous devez être connecté pour ajouter un commentaire.</p><br>
        {% endif %}

        {% if commentaires %}
            <h2>Commentaires</h2>
            {% for commentaire in commentaires %}
            <div class="comment-block">
                <div class="block_commentaire">
                    <h3><span style="border-bottom: 2px solid #ff3d00;">{{ commentaire[2] }}</span></h3>
                    <p>{{ commentaire[0] }}</p>
                    <p class="right"><span style="border-bottom: 1px solid #ff3d00;">Il y a {{ commentaire[1] }}</span></p>
                </div>
            </div>
            {% endfor %}
        {% endif %}

    </div>

</div>
{% endblock %}
