{% extends 'index.html' %}
{% block body %}
    <div class="content" style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div><h1>Connectez vous à votre compte</h1></div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashed">
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div>
            <form name="login_form" action="{{ url_for('validate_login') }}" method="post">
                <input class="inputForm" name="email" type="email" placeholder="&#x270e;   Entrez votre email" maxlength="250" style="width: 200px;" required><br>
                <input class="inputForm" name="motDePasse" type="password" placeholder="&#x270e;   Entrez votre mot de passe" style="width: 200px;" required><br>
                <button type="submit">Connexion</button><br>
                <div>
                <a href="{{ url_for('forgot_password') }}">Oublié votre mot de passe?</a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
