{% extends 'index.html' %}
{% block body %}

<div class="content">
    <h1>Créer un article</h1>
    <form name="article_form" action="{{ url_for('soumettreArticle') }}" method="post">
        <input class="inputLong" name="titreArticle" id="titreArticle" type="text" pattern="^[A-Za-z\s-]+$" placeholder="&#x270e;   Titre" maxlength="50"  required><br><br>
        <label for="categorie">Sélectionnez la catégorie</label><br>
            <select name="categorie" id="categorie">
                {% for categorie in categories %}
                    <option value="{{ categorie }}">{{ categorie }}</option>
                {% endfor %}
            </select>
        <br>
        <br>
        <textarea id="contenu" name="contenuArticle" rows="15" cols="70" class="articleTextArea" placeholder="Écrivez le contenu de votre article ici."></textarea><br>
        <br>
        <p>Saisir une référence :</p>
        <input name="titreReference" type="text" placeholder="Titre"><br>
        <input name="auteur" type="text" placeholder="Auteur"><br>
        <input class="inputForm" name="anneeParution" type="number" placeholder="Année de parution" min="0" max=maxYear><br>
        <input name="isbn" type="text" placeholder="ISBN 10 ou 13 caractères" pattern="\d{10}|\d{13}"><br>
        <input name="editeur" type="text" placeholder="Editeur"><br>

        <button type="submit">Enregistrer</button>
    </form>
</div>
    <script>
      const maxYear = new Date().getFullYear();
    </script>

{% endblock %}

