{% extends 'index.html' %}
{% block body %}
{% if not infoArticle %}
    {% set infoArticle=None %}
{% endif %}
<div class="content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashed">
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    {% if not edit %}
        <h1>Créer un article</h1>
    {% else %}
        <h1>Éditer un article</h1>
    {% endif %}
        {% if not edit %}
            <form name="article_form" action="{{ url_for('soumettreArticle') }}" method="post">
        {% else %}
            <form name="article_form" action="{{ url_for('soumettreEditArticle') }}" method="post">
        {% endif %}

        <input class="inputLong" name="titreArticle" id="titreArticle" type="text" pattern="^[A-Za-z\s-]+$" placeholder="&#x270e;   Titre" maxlength="50"  value="{{infoArticle[1]}}" required><br><br>
        <label for="categorie">Sélectionnez la catégorie</label><br>
            <select name="categorie" id="categorie">
                {% for categorie in categories %}
                    {% if categorie == infoArticle[4] %}
                        <option value="{{ categorie }}" selected>{{ categorie }}</option>
                    {% else %}
                        <option value="{{ categorie }}">{{ categorie }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        <br>
        <br>
        <textarea id="contenu" name="contenuArticle" rows="15" cols="70" class="articleTextArea" placeholder="Écrivez le contenu de votre article ici.">{{infoArticle[3]}}</textarea><br>
        <br>
        <p>Saisir une référence :</p>
        <input name="titreReference" type="text" placeholder="Titre" value="{{infoArticle[8]}}"><br>
        <input name="auteur" type="text" placeholder="Auteur" value="{{infoArticle[9]}}"><br>
        <input class="inputForm" name="anneeParution" type="number" placeholder="Année de parution" min="0" max=maxYear value="{{infoArticle[10]}}"><br>
        <input name="isbn" type="text" placeholder="ISBN 10 ou 13 caractères" pattern="\d{10}|\d{13}" value="{{infoArticle[11]}}"><br>
        <input name="editeur" type="text" placeholder="Editeur" value="{{infoArticle[12]}}"><br>

        {% if not edit %}
            <button type="submit">Enregistrer</button>
        {% else %}
            <input type="hidden" name="articleId" value="{{infoArticle[6]}}">
            <input type="hidden" name="refId" value="{{infoArticle[7]}}">
            <button type="submit">Sauvegarder</button>
        {% endif %}
    </form>
</div>
    <script>
      const maxYear = new Date().getFullYear();
    </script>

{% endblock %}

