
{% include "include/head.html" %}
    <body>
        <div class="header">
            <nav>
                <a href="/"><img src="{{url_for('static', filename='images/logo.png')}}" class="logo" alt="logo"></a>

                <ul class="nav-links">
                    {% if session['userId'] %}<li>Bienvenue {{ session['userName']}}</li>{% endif %}
                    <li><a href="/">Accueil</a></li>
                    <li><a href="{{ url_for('articles') }}" onclick="location.href=this.href+'?letter=A';return false;">Liste Articles</a></li>
                    <li><a href="{{ url_for('article') }}?id=Random">Article Aléatoire</a></li>
                    {% if session['userId'] %}
                        <li><a href="{{ 'creeArticle' }}">Créer un article</a></li>
                        <li><a href="{{ url_for('setting') }}">Gestion compte</a></li>
                        <a href="{{ url_for('logout') }}"><li class="btn">Déconnexion</li></a>

                    {% else %}
                        <li><a href="{{ url_for('register') }}">Inscription</a></li>
                        <a href="{{ url_for('login') }}"><li class="btn">Connexion</li></a>
                    {% endif %}
                </ul>
            </nav>
        </div>

        {% block body %}
        <div class="content_center">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashed">
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
            <h1>Bienvenue sur Wiki²</h1>
            <form name="search_form" action="/search" method="post">
                    <input type="text" placeholder="&#x270e;   Entrez un mot clé" name="keyword">
                    <button type="submit">Trouver un article</button>
            </form>
        </div>
        {% endblock %}

    </body>
    <script src="app.js"></script>
    <script src="{{ url_for('static', filename='app.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
</html>