{% extends 'index.html' %}
{% block body %}
    <div class="content" style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div><h1>Réinitialiser votre mot de passe</h1></div>
        <p>Entrez votre nouveau mot de passe</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashed">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div>
            <form name="reset_password_form" action="{{ url_for('reset_password') }}" method="post">
                <input id="password" class="inputForm" name="new_password" type="password" placeholder="&#x270e;   Nouveau mot de passe" style="width: 250px;" required><br>
                <input id="confirm_password" class="inputForm" name="confirm_password" type="password" placeholder="&#x270e;   Confirmez le nouveau mot de passe" style="width: 250px;" required><br>
                <button type="submit" class="large-button">Réinitialiser</button>
            </form>
        </div>
    </div>

    <script>
        var password = document.getElementById("password");
        var confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value !== confirm_password.value) {
                confirm_password.setCustomValidity("Les mots de passe ne correspondent pas");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
{% endblock %}
