{% extends 'index.html' %}
{% block body %}
<div class="content">
    <h1>Gestion de votre compte {{ session['userName']}}</h1>

    <form id="profileForm" action="/update_profile" method="POST">
    <label for="username">Nom d'utilisateur: {{ session['userName']}}</label><br>
    <input type="text" id="username" value="Nouveau nom d'utilisateur" onInput="clearInput(this)"><br><br><br>

    <label for="email">Email:</label><br>
    Nouveau email:<input type="email" id="email" name="email" value="utilisateur@exemple.com"><br><br><br>

    <label for="password">Mot de passe:</label><br>
    <input type="password" id="password" name="password" placeholder="Mot de passe"><br><br>


    <button type="submit">Sauvegarder les changements</button>
    </form>
</div>
{% endblock %}