{% extends 'index.html' %}
{% block body %}
<div class="content">
    <br><h1>Gestion de votre compte {{ session['userName']}}</h1>
    <p> Votre email pour ce compte: {{ session['userEmail']}}</p><br><br><br>
     <h2>Modifiez vos données de connexion</h2><br><br>

    <form name="profileForm" action="/update_profile" method="POST">
    <label for="username">Nom d'utilisateur: {{ session['userName']}}</label><br>
    <input type="text" id="username" name="username" placeholder="Nouveau nom d'utilisateur" oninput="clearPlaceholder(this)"><br>

    <button type="submit">Sauvegarder le nom d'utilisateur</button><br><br><br><br>
    </form>


    <form name="mdpForm" action="/update_password" method="POST">
    <label for="password">Mot de passe:</label><br>
    <input type="password" id="password" name="password" placeholder="Nouveau mot de passe"><br>

    <button type="submit">Sauvegarder le mot de passe</button>
    </form>
</div>
{% endblock %}