<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Wiki 2</title>
        <style>
            *{
                margin: 0;
                padding: 10px;
                font-family: "poppins", sans-serif;
                box-sizing: border-box;
                color: white;
                background: #080008;
            }

            a {
            color: white;
            }

            .orange{
            color: #ff3d00;
            }

        </style>
    </head>
    <body>
        <h1 class="orange">Réinitialisation du mot de passe</h1>
        <h3>Bonjour {{ username }} </h3><br>
        <p>Votre ...... "<span class="orange">{{ password }}</span>" est ....</p><a href="wiki2.com">clique ici</a>
    </body>
</html>