<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Wiki 2</title>
        <style>
            *{
                margin: 0;
                padding: 10px;
                font-family: "poppins", sans-serif;
                color: white;
                background: #080008;
            }

            a {
            color: white;
            }

            .orange{
            color: #ff3d00;
            }

        </style>
    </head>
    <body>
        <h1 class="orange">Réinitialisation du mot de passe</h1>
        <h3>Bonjour {{ username }} </h3><br>
        <p>Votre nouveau mot de passe temporaire est : <span class="orange"> {{ password }}</span> <br> Veuillez modifier votre mot de passe dès votre prochaine connexion.<br><br> Vous pouvez vous connecter en  <a href="wiki2.com">cliquant ici</a> </p>
    </body>
</html>